.menu {
  background-color: white;
  border: 3px solid #957dad;
  border-radius: 0px;
  padding: 10px;
  margin: 15px;
}
.ingredients {
  background-color: white;
  border: 3px solid #957dad;
  border-radius: 0px;
  padding: 10px;
  margin: 15px;
}
.summit {
  display: flex;
  justify-content: center;
}
