nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 5px solid rgb(165, 112, 42);
  border-radius: 10px;

}
nav a {
  text-decoration: none;
  color: purple;
  font-size: 25px;
}
nav a:hover {
  color: blue;
  text-decoration: underline;
}
.header {
  display: flex;
  justify-content: center;
  color: darkgoldenrod;
}
.description {
  display: flex;
  justify-content: space-around;
  color: darkgoldenrod;
  margin-top:-35px;
}
.content {
  background-color: rgb(192, 255, 234);
  width: 98.2%;
  height: 1000px;
  border: 3px solid rgb(119, 0, 255);
  border-radius: 0px;
  margin-top: 10px;
}
